@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

body {
     margin: auto;
     font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
 }

 /* Header */

 ul {
    margin: auto;
    padding: 0%;
    list-style-type: none;
}

.header {
    background-color: black;
    /* width: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.container-header {
    max-width: 1170px;
    margin: auto;
}

.nav li {
    display: inline-block;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nav__menu{
    display: flex;
}

.nav li a{
    color:#ffff;
    text-decoration: none;
}

.nav li {
    margin-left: 60px;
}

.nav li :last-child{
    margin-left: 0;
}

/* Body */

 * {
   box-sizing: border-box;
 }

 h2, h1, h3, p {
    margin: 0;
 }

 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
 }

 .section_price {
    padding-top: 50px ;
    padding-bottom: 50px;
     background: #F5F5F5;
 }

 .title {
     font-weight: 400;
     font-size: 36px;
     height: 150px;
     line-height: 150px;
     /* display: flex;
     align-items: center;
     justify-content: center; */
     text-transform: uppercase;
     position: relative;
     margin-bottom: 40px;
 }

 .title::after {
    content: '';
    width: 170px;
    height: 1px;
    background: #EC7979;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
 }

 /* .h2::before {
    content: '';
    width: 170px;
    height: 1px;
    background: #EC7979;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
 } */

 .description {
     color: #86878B;
     font-size: 18px;
     font-weight: 400;
 }

 .description, .title {
    text-align: center;
 }

 .pricing-columns {
     margin-top: 79px;
 }

 .container-price {
     max-width: 1170px;
     display: flex;
     justify-content: space-between;
     margin: auto;
     width: 100%;
 }

 .price {
     width: 100%;
     max-width: 370px;
     border: 2px solid #F5F5F5;
 }

 .price:hover {
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    transform: translateY(-20px);
 }

 .price_head {
     text-align: center;
     background: #333333;
     color: #FFFFFF;
 }

 .price_title {
     color: #FFFFFF;
     font-size: 24px;
     height: 60px;
     line-height: 60px;
     /* font-family: 'Open Sans', sans-serif; */
     font-family: 'OpenSans700';
     font-weight: bold;
 }

 .price_title, .price_count, .free, .price_list li {
    border-bottom: 2px solid #F5F5F5;
}

 .price_count {
     font-size: 35px;
     font-weight: 700;
     height: 100px;
     line-height: 100px;
 }

 .free {
     color: #86878B;
     text-align: center;
     font-size: 18px;
     font-weight: 400;
     height: 50px;
     line-height: 50px;
 }

 .price_list li {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    background: #fff;
}

.price_list li:last-child {
    border-bottom: 0;
}

/* WHY THIS IS AWESOME */

.section2 {
    width: 100%;
    margin-bottom: 50px;
}

.container2 {
    max-width: 1170px;
    height: 665px;
    margin: auto;
    width: 100%;
}

.colonki {
    display: flex;
    justify-content: space-between;
}

.colonka {
    width: 100%;
    max-width: 369px;
}

.icon {
    text-align: center;
    display: block;
    margin-left: 39px;
    margin-bottom: 39px;
    margin-right: 39px;
    margin-top: 110px;
}

.title_col {
    align-items: center;
    text-align: center;
    max-width: 369px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
}

.discription_col{
display: flex;
align-items: center;
text-align: center;
width: 100%;
font-size: 18px;
font-weight: 400;
margin: 0;
padding-top: 8px;
}

/* BANNER_2 */

.section_banner{
    height: 442px;
    width: auto;
    background-image: url(./css/image.svg); 
    background-color: #000;
}

.fon{
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 442px;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.title_ban{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 36px;
    height: 150px;
    line-height: 150px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
}

.title_ban::after {
    content: '';
    width: 170px;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
 }

 .discription_ban {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    margin: 0;
    position: relative;
 }

 .button_1_normal{
    text-align: center;
 }

 .button {
    height: 58px;
    width: 370px;
    border: 2px solid #FFFFFF;
    background: rgba(0,0,0,0);
    margin-top: 73px;
 }

 .title_button{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
 }
 .fon {
}
.title {

		&_ban {
		}
}
.discription {

		&_ban {
		}
}
.fon {
}
.title_ban {
}
.discription_ban {
}