@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

body {
     margin: auto;
     font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
 }

 

/* Body */

/* Header */

ul {
    margin: auto;
    padding: 0%;
    list-style-type: none;
}

.header {
    background-color: black;
    /* width: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.container-header {
    max-width: 1170px;
    margin: auto;
    height: 75px;
    display: flex;
}

.nav li {
    display: inline-block;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    display: flex;
}

.nav li a{
    color:#ffff;
    text-decoration: none;
}

.nav li {
    margin-left: 60px;
}

.nav li :last-child{
    margin-left: 0;
}

 * {
   box-sizing: border-box;
 }

 h2, h1, h3, p {
    margin: 0;
 }

 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
 }

/* BANNER */

.banner {
    height: 951px;
    width: auto;
    background-image: url(./css/banner.svg); 
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container_ban {
    background: rgba(0, 0, 0, 0.5);
    /* position: absolute; */
    height: 951px;
    margin: auto;
    width: 100%;
    padding-top: 208px ;
    padding-bottom: 185px;
    padding-left: 170px;
    padding-right: 170px;
}

.container_ban_elem {
    display: flex;
    width: 100%;
    justify-content: center;
}


.head_text {
    color: #fff;
    width: 100%;
    max-width: 670px;
}

.logo {}

.title_ban {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-top: 72px;
    padding-bottom: 55px;
}

.title_ban::after {
    content: '';
    width: 170px;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.discription_ban {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding-top: 42px;
    width: 100%;
    max-width: 270px;
}
.button_ban {
    height: 58px;
    width: 270px;
    border: 2px solid #FFFFFF;
    background: rgba(0,0,0,0);
    margin-top: 73px;
    cursor: pointer;
}
.button_ban p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* display: flex;
    align-items: center;
    text-align: center; */
    text-transform: capitalize;
    color: #fff;
    display: inline-block;
}

.form_ban {
    background-color: #fff;
    width: 470px;
    height: 450px;
    border-radius: 10px;
}

.title_form p {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #333333;
    width: 367px;
    height: 90px;
    margin-left: 51px;
}

.colortext{
    color: #EC7979;
    padding: 0 7px;
}

.info {
    display: flex;
    /* margin: 135px 50px; */
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 75px;
    flex-direction: column;
    width: 470px;
    height: 300px;
    justify-content: space-between;
}

.input_info {
    width: 370px;
    height: 38px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    vertical-align: top;
}

.button_started {
    height: 60px;
    width: 470px;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    border: none;
    cursor: pointer;
}

.button_started p {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

/* SOCIAl */

.social {
    width: 100%;
    height: 140px;
    background: #F8EFEF;
    margin: auto;
}

.container_social {
    display: flex;
    margin-top: 2px;
    margin-bottom: 18px;
    max-width: 1170px;
    width: 100%;
    margin: auto;
}
.text_social {
}
.title_social p{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    width: 470px;
    height: 60px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.discription_social p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    width: 470px;
    height: 42px;
}
.icon_social {
    width: 670px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 43px;
    margin-left: 50px;
    /* margin-right: 183px; */
    align-items: center;
}

.icon_social img{
    width: 55px;
    height: 55px;
}

/* PRICE */

 .section_price {
    padding-top: 50px ;
    padding-bottom: 50px;
     background: #F5F5F5;
 }

 .title {
     font-weight: 400;
     font-size: 36px;
     height: 150px;
     line-height: 150px;
     /* display: flex;
     align-items: center;
     justify-content: center; */
     text-transform: uppercase;
     position: relative;
     margin-bottom: 40px;
 }

 .title::after {
    content: '';
    width: 170px;
    height: 1px;
    background: #EC7979;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
 }

 /* .h2::before {
    content: '';
    width: 170px;
    height: 1px;
    background: #EC7979;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
 } */

 .description {
     color: #86878B;
     font-size: 18px;
     font-weight: 400;
 }

 .description, .title {
    text-align: center;
 }

 .pricing-columns {
     margin-top: 79px;
 }

 .container-price {
     max-width: 1170px;
     display: flex;
     justify-content: space-between;
     margin: auto;
     width: 100%;
 }

 .price {
     width: 100%;
     max-width: 370px;
     border: 2px solid #F5F5F5;
 }

 .price:hover {
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    transform: translateY(-20px);
 }

 .price_head {
     text-align: center;
     background: #333333;
     color: #FFFFFF;
 }

 .price_title {
     color: #FFFFFF;
     font-size: 24px;
     height: 60px;
     line-height: 60px;
     /* font-family: 'Open Sans', sans-serif; */
     font-family: 'OpenSans700';
     font-weight: bold;
 }

 .price_title, .price_count, .free, .price_list li {
    border-bottom: 2px solid #F5F5F5;
}

 .price_count {
     font-size: 35px;
     font-weight: 700;
     height: 100px;
     line-height: 100px;
 }

 .free {
     color: #86878B;
     text-align: center;
     font-size: 18px;
     font-weight: 400;
     height: 50px;
     line-height: 50px;
 }

 .price_list li {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    background: #fff;
}

.price_list li:last-child {
    border-bottom: 0;
}

/* REWIEWS */

.reviews {
    margin-top: 50px;
    margin-bottom: 64px;
}

.container {
    max-width: 1171px;
    width: 100%;
    margin: auto;
}
.reviews_text {
}

.title_rev {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_rev::after {
    content: "";
    height: 1px;
    width: 170px;
    background: #EC7979;
    display: block;
    margin: auto;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
}

.discription_rev {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.colonki_rev {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
}
.manager {
    max-width: 370px;
    width: 100%;
}

.man_text1,.man_text2, .man_text3 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
    background-image: url(./css/reviews/cloud.svg);
    max-width: 370px;
    height: 180px;
    width: 100%;
    padding:37px 0;
}

.manager_face{
    margin-top: 63px;
    display: flex;
}

.specialist{
    margin-left: 30px;
}

.name{
    /* display: flex; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 15px;
}

.manager {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/* WHY THIS IS AWESOME */

.section2 {
    width: 100%;
    margin-bottom: 50px;
}

.container2 {
    max-width: 1170px;
    height: 665px;
    margin: auto;
    width: 100%;
}

.colonki {
    display: flex;
    justify-content: space-between;
}

.colonka {
    width: 100%;
    max-width: 369px;
}

.icon {
    text-align: center;
    display: block;
    margin-left: 39px;
    margin-bottom: 39px;
    margin-right: 39px;
    margin-top: 110px;
}

.title_col {
    align-items: center;
    text-align: center;
    max-width: 369px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
}

.discription_col{
display: flex;
align-items: center;
text-align: center;
width: 100%;
font-size: 18px;
font-weight: 400;
margin: 0;
padding-top: 8px;
}

/* BANNER_2 */

.section_banner2{
    height: 442px;
    width: auto;
    background-image: url(./css/image.svg); 
    background-color: #000;
}

.container_ban2{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 442px;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.title_ban2{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 36px;
    height: 150px;
    line-height: 150px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
}

.title_ban2::after {
    content: '';
    width: 170px;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
 }

 .discription_ban2 {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    margin: 0;
    position: relative;
 }

 .button_ban2{
    text-align: center;
 }

 p.p_button {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    /* display: flex;
    text-align: center;
    justify-content: center; */
 }

 .button {
    height: 58px;
    width: 370px;
    border: 2px solid #FFFFFF;
    background: rgba(0,0,0,0);
    margin-top: 73px;
    cursor: pointer;
 }

 .title_button{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
 }

 /* CONTACTS */

 .contacts {
    width: 100%;
    height: 722px;
    padding-top: 50px;
}

.container_cont {
    max-width: 1170px;
    width: 100%;
    height: 622px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: auto;
}

.title_cont {
    font-weight: 400;
    font-size: 36px;
    height: 150px;
    line-height: 150px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
    color: #000000;
    text-align: center;
}


.title_cont::after{
    content: '';
    width: 170px;
    height: 1px;
    background: #EC7979;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.discription_cont {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.input_cont {
    display: flex;
    margin-top: 89px;
}

.info_cont {
    display: flex;
    flex-direction: column;
    width: 571px;
    height: 214px;
    justify-content: space-between;
    margin-right: 30px;
}

.input_info_cont{
    height: 38px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.mess_cont {
}

.input_mess_cont{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 571px;
    height: 214px;
}

.button_cont{
    margin-top: 50px;
    text-align: center;
}

.button_cont button{
    background: #EC7979;
    width: 370px;
    height: 58px;
    border: none;
    cursor: pointer;
}

.button_cont button p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}


 /* FOOTER  */

 .footer {
    height: 164px;
    background-color: #000;
 }

 .container_foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 27px;
    flex-direction: column;
}

.icons_foot {
    justify-content: space-between;
    align-items: center;
    width: 570px;
    display: flex;
}

.icons_foot a {
    text-decoration: none;
}
 

.discription_foot {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(248, 248, 248, 0.5);
    padding-top: 32px;
}

.icon_foot {

}

